html{
    box-sizing: border-box;
}

*,*::before , *::after{
    box-sizing: inherit;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    text-align: center;
    text-decoration: none;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#head{
    position: absolute;
    left: 50px;
    top:40px
}

#game-arena{
    height: 500px;
    width: 600px;
    background-color: #333;
    border: solid 5px #666;
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    position: relative;

}

#score-board{
    font-size: x-large;
    font-weight: bold;
    margin: 20px 0;;
}

.start-button{
    background-color: orangered;
    color: white;
    text-align: center;
    padding: 15px 30px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 6px;
    cursor: pointer;
    border: none;
}

.food{
    background-color: rgb(225, 10, 10);
    height: 20px;
    width: 20px;
    border: solid 1px white;
    border-radius: 60%;
    animation: blink 1s infinite ;
}
@keyframes blink {
    50%{
        opacity: 0.5;
    }
}